{% extends 'sanskrit/base.html' %} {% load static %} {% block body %}
<link rel="stylesheet" href="{% static 'css/forums.css'%}" />
<div class="bucket">
  <div class="forum">
    {% if forum.created_date %}

    <div class="forum_detail_btn">
      <div class="forum_detail">
        <h2>{{ forum.title }}</h2>
        <p>{{ forum.text|linebreaksbr }}</p>
        <div class="date">
          {{ forum.created_date }}
        </div>
      </div>

      {% endif %}
      <div class="edit_forum">
        {% if user == forum_author %}
        <a href="{% url 'forums:forum_edit' pk=forum.pk %}"><button id="editbtn">Edit</button></a>
        {% endif %}
      </div>
    </div>
    <hr />
    <div id="comments">
      {% for comment in comments %}
      <div class="tip-left">
        <div id="profile_pic">
          <img src="{{comment.forum_profile.profile_pic.url}}" style="width: 100px; height: 100px;" />
        </div>
        <h4>{{comment.author.username}}</h4>
        <p>{{comment.comment}}</p>
      </div>
      {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <button id="comment_btn" style="display: block;" onclick="comment()">
      Comment
    </button>
    <div id="add_comment" style="display:none">
      <form method="POST" id="comment_form">
        {% csrf_token %}
        <textarea id="comment_textarea" placeholder="Add Your Comment"></textarea>
        <div>
          <button type="submit" id="add_comment_btn">Add Comment</button>
        </div>
      </form>
    </div>
    {% endif %}
    <div class="back">
      <a href="{% url 'forums:forum_list'%}"><button id="back_button">Go back</button></a>
    </div>
  </div>
</div>
{% include 'sanskrit/navbar.html' %}
<script>
  function comment() {
    var token = "{{csrf_token}}";
    document.getElementById("add_comment").style.display = "block";
    document.getElementById("comment_btn").style.display = "none";
    $(document).on("submit", "#comment_form", function (e) {
      console.log($("#comment_textarea").val());
      $.ajax({
        headers: { "X-CSRFToken": token },
        type: "POST",
        url: window.location.href + "comment",
        data: {
          comment: $("#comment_textarea").val()
        },
        dataType: "json",
        success: function (data) {
          if (data.success == "success") {
          }
        }
      });
    });
    // Reload page after posting comment
    $(document).ajaxStop(function () {
      window.location.reload();
    });
  }
</script>
{% endblock %}