{% extends 'sanskrit/base.html' %}
{% load static %}

{% block body %}

{% include 'sanskrit/navbar.html' %}
<link rel="stylesheet" href="{% static 'css/forums.css'%}" />
<div class="edit_content_center">
    <div class="form_edit">
        <h2>New Post</h2>
        <form method="POST">
            <div id="edit_content">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="forum_submit" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}