{% extends 'sanskrit/base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/forums.css'%}" />
{% include 'sanskrit/navbar.html' %}
<div class="bucket">
  <h2>Learn Sanskrit Forums</h2>
  <div class="add_forum">
    {%if user.is_authenticated%}
    <a href="{% url 'forums:forum_new' %}"><button id="new_forum">Add Forum</button></a>
    {%endif%}
  </div>
  <hr id="brdr">
  <div class="forum_list">
    {% for forum in forums %}
    <div class="forum">
      <div id="profile_pic">
        <img src="{{forum.forum_profile.profile_pic.url}}" style="width: 100px; height: 100px;" />
      </div>
      <div class="forum_body">
        <a href="{% url 'forums:forum_detail' pk=forum.pk %}">
          <h3>{{ forum.title }}</h3>
        </a>
        {{ forum.text}}
      </div>
      <div class="date">
        Published : {{ forum.created_date}} by {{forum.author.username}}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}