{% extends 'sanskrit/base.html' %} {% block body %}
<div class="add_forum">
  {%if user.is_authenticated%}
  <a href="{% url 'forums:forum_new' %}"
    ><button id="new_forum">Add Forum</button></a
  >
  {%endif%}
</div>
{% for forum in forums %}
<div class="forum">
  <div class="author">
    <p>{{forum.author.username}}</p>
  </div>
  <div class="forum_body">
    <h2>
      <a href="{% url 'forums:forum_detail' pk=forum.pk %}"
        >{{ forum.title }}</a
      >
    </h2>
    <p>{{ forum.text|linebreaksbr }}</p>
  </div>
  <div class="date">
    <p>published:{{ forum.created_date}}</p>
  </div>
</div>
<br />

{% endfor %} {% endblock %}
