<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
    <meta name="keywords" content="web design,affordable web design, professional web design">
    <meta name="author" content="Brad Hook">
    <title>Sanskrit Learning Site  |  About</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <div class="container">
            
            <section id="branding">
                <h1><span class="highlight">Sanskrit</span> Learning Site</h1>
            </section>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="current"><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="page-title">History Of Sanskrit</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue, turpis ac aliquam imperdiet, nibh orci viverra ante, non posuere lacus magna vitae ipsum. Nunc posuere scelerisque lectus, nec gravida purus sagittis nec. Duis fringilla nisl odio, a ultricies felis mattis vel. Quisque id lectus ut leo mattis tempus id id nisl. Quisque rhoncus arcu vitae ante sollicitudin tristique. Etiam laoreet ex suscipit ex euismod, eget placerat tortor ullamcorper. Proin accumsan orci accumsan orci ultrices, quis dignissim nisi fringilla. Phasellus egestas vehicula ex. Nam eleifend volutpat interdum. Nam laoreet erat et diam maximus varius. Fusce auctor, nisl sit amet feugiat pharetra, ipsum magna tempor nulla, ut finibus turpis erat et mi. Quisque malesuada neque justo, vitae bibendum augue mattis id.</p>
                <p>Maecenas a urna ultricies, semper velit in, tristique nisl. Vivamus sit amet lectus posuere, sollicitudin odio interdum, feugiat velit. In bibendum sollicitudin lectus. Vestibulum ante sapien, convallis eu bibendum id, ultrices eget augue. Pellentesque commodo feugiat luctus. Proin in hendrerit dui, id facilisis tortor. Fusce purus arcu, consequat at mauris sed, tincidunt dapibus magna. Duis varius odio nibh, et cursus velit sodales vel. Aliquam sit amet nulla ut purus congue aliquet. Fusce eu ullamcorper nulla.</p>
            </article>

            <aside id="sidebar">
                <div class="dark">
                    <h3>Why you have to learn this...</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue,. Quisque malesuada neque justo, vitae bibendum augue mattis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue,. Quisque malesuada neque justo, vitae bibendum augue mattis id.</p>
                </div>
            </aside>
        </div>
    </section>

    <section id="footer">
        <div class="container text-center">
            <p>Thank You</p>
        </div>
    </section>
</body>
</html>