{% extends 'sanskrit/base.html' %}
{% load static %}


{%block body%}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<header>
    <div class="container">
        
        <section id="branding">
            <h1><span class="highlight">Sanskrit</span> Learning Site</h1>
        </section>
        <nav>
            <ul>
                <li class="current"><a href="{%url 'sanskrit:home'%}">Home</a></li>
                <!-- <li><a href="{%url 'sanskrit:home'%}">About</a></li> -->
                {% if not user.is_authenticated%}
                <li><a href="{%url 'accounts:login'%}">Login</a></li>
                <li><a href="{%url 'accounts:register'%}">Register</a></li>
                {%endif%}
                {% if user.is_authenticated%}
                <li><a href="{%url 'accounts:logout'%}">Logout</a></li>
                {%endif%}
        </nav>
    </div>
</header>
<section id="showcase">
     
        <h1>Learn Sanskrit And Enjoy!!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque tincidunt, pretium erat a, convallis velit. Phasellus ac velit eget eros rutrum viverra eu quis arcu.</p>
    </div>
</section>

<!--Button-->
<section id="nex">
    <a href="{%url 'sanskrit:lessons'%}"><button class="button" onclick=""><span>Start Learning</span></button></a>
</section>
<section id="boxes">
    <div class="container">
        <div class="row boxes">
            <div class="box text-center">
                <img src="{% static 'css/g.jpg' %}">
                <h3>Learn</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque tincidunt,</p>
            </div>
            <div class="box text-center">
                <img src="{% static 'css/graphic.jpg' %}">
                <h3>Implement</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque tincidunt,</p>
            </div>
            <div class="box text-center">
                <img src="{% static 'css/j.png' %}">
                <h3>Excel</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque tincidunt,</p>
            </div>
        </div>
    </div>
</section>
<!--progressbar-->
<section id="percent">
    <div class="holder">
        <h1>Your Progress Report</h1>
    </div>
    
    <div class="col-md-6 skills-bar">
        <p>Reading-Skills</p>
        <div class="progress">
          <div class="progress-bar" style="width: 80%;">65%</div>
        </div>
        <p>Writing-Skills</p>
        <div class="progress">
          <div class="progress-bar" style="width: 85%;">45%</div>
        </div>
        <p>Knowledge</p>
        <div class="progress">
          <div class="progress-bar" style="width: 75%;">55%</div>
        </div>
        <p>Implementation</p>
        <div class="progress">
          <div class="progress-bar" style="width: 50%;">70%</div>
        </div>
      </div>
    </div>
</section>

<section id="footer">
    <div class="container text-center">
        <p>Thank You</p>
    </div>
</section>
{% endblock %}
  