{% extends 'sanskrit/base.html' %} {% load static %} {% block body %}

<link rel="stylesheet" href="{% static 'css/home.css' %}" />

<div id="loading">
  <div id="spinner"></div>
</div>
<div id="header" class="animated slideInDown" style="animation-delay:0.8s;">
  <div id="title">Sanskrit</div>
  <br />
  <div id="links">
    <a href="#history">History</a>
    <a href="#importance" style="margin:0px 60px;">Importance</a>
    <a href="#contact">Contact</a>
    <a href="{% url 'forums:forum_list' %}">Forums</a>
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">Login</a>
    <a href="{% url 'accounts:register' %}">Register</a>
    {% endif %}
  </div>
</div>

<center>
  <div id="middle">
    <div id="tagline" class="animated zoomIn" style="animation-delay:0.8s;">
      Learn Sanskrit, the language of the Gods!<br />
      <a href="{% url 'sanskrit:lessons' %}"><button class="btn_one">Start Learning</button></a>
    </div>
  </div>
</center>

<div id="portfolio">
  <div id="history">
    <h1>History</h1>
    <div>
      <p>
        Sanskrit is an Indo-Aryan language of the ancient Indian subcontinent
        with a 3,500-year history. It is the primary liturgical language of
        Hinduism and the predominant language of most works of Hindu philosophy
        as well as some of the principal texts of Buddhism and Jainism.
        Sanskrit, in its variants and numerous dialects, was the lingua franca
        of ancient and medieval India. In the early 1st millennium CE, along
        with Buddhism and Hinduism, Sanskrit migrated to Southeast Asia,parts of
        East Asia and Central Asia,emerging as a language of high culture and of
        local ruling elites in these regions. As one of the oldest documented
        members of the Indo-European family of languages,Sanskrit holds a
        prominent position in Indo-European studies. It is related to Greek
        ,Latin and many other living and extinct languages with historical
        significance to Europe, West Asia, Central Asia and South Asia. Sanskrit
        is traceable to the 2nd millennium BCE in a form known as Vedic
        Sanskrit, with the Rigveda as the earliest-known composition. A more
        refined and standardized grammatical form called Classical Sanskrit
        emerged in the mid-1st millennium BCE with the Aṣṭādhyāyī treatise of
        Pāṇini. Sanskrit, though not necessarily Classical Sanskrit, is the root
        language of many Prakrit languages.
      </p>
    </div>
  </div>

  <div id="importance">
    <h1>Importance</h1>

    <div class="project">
      <p>
        Sanskrit contains the cultural heritage of India recorded in the literary
        outpourings, beginning with the Rig Veda and through to the Classics right
        upto the 19th century. By developing proficiency in this language, one can
        trace the evolution of spirituality as envisioned in the Sanatana Dharma.
        Some of the finest literature has been produced by great poets like
        Kalidasa, Bharavi, Magha, and Shri Harsha and literateurs like Dandi,
        Bana, Subandhu. If we undertake a deep study of their works we can see the
        expressive power of Sanskrit Language. In Sanskrit one could find how
        Descriptive Grammar could be comprehensively dealt with to include all
        aspects of syntax, semantics, philology, and lexicography, including a bit
        of epistemology from the wordsmiths point of view. Sanskrit has works on
        practical subjects like Ayurveda(Medicine and Surgery), Yoga, Science of
        fundamental importance like Mathematics, Astronomy. There are only few
        works that emphasize the beauty of mathematical formulations such as we
        can find in Sanskrit.<br />
        Sanskrit has so much mystery and mysticism that one could continue to mine
        it for whatever it is that they are searching for beyond the obvious and
        sensory. Of course, anyone could read the translations that are available,
        but then to be true to the spirit of the original we must admit that most
        translations fall woefully short of what the original language expressed.
        This is perhaps the greatest importance of this language. We need to learn
        and master it to the extent so that we can keep unravelling these
        mysteries of the world, for our lifetime.
      </p>
    </div>
  </div>

  <div id="contact">
    <h1>Contact</h1>
    <form>
      <input type="text" placeholder="name" required />
      <input type="email" placeholder="email" required /><br />
      <textarea placeholder="your message" required rows="5"></textarea><br />
      <button class="btn_one">send</button>
    </form>
    <!-- <div id="details">
      <a class="btn_social"><i class="fas fa-phone"></i></a>
      <a class="btn_social"><i class="fas fa-at"></i></a>
      <a class="btn_social"><i class="fab fa-twitter"></i></a>
      <a class="btn_social"><i class="fab fa-dribbble"></i></a>
    </div> -->
  </div>
</div>
<!-- Footer -->
<div class="footer">
  <div class="footer-content">
    <div class="footer-section fabout">
      <h1 class="logo-text">Learn<span>Sanskrit</span></h1>
      <br>
      <p>आशाया ये दासास्ते दासाः सर्वलोकस्य ।<br>
        आशा येषां दासी तेषां दासायते लोकः ॥</p>
      <br>
      <div class="fcontact">
        <span><i class="fas fa-phone"></i> &nbsp; 7022927136 | 9482893063</span>
        <span><i class="fas fa-envelope"></i> &nbsp; learnsans@gmail.com</span>
      </div>
      <div id="details">
        <a class="btn_social"><i class="fas fa-phone"></i></a>
        <a class="btn_social"><i class="fas fa-at"></i></a>
        <a class="btn_social"><i class="fab fa-twitter"></i></a>
        <a class="btn_social"><i class="fab fa-dribbble"></i></a>
      </div>
    </div>
    <div class="footer-section flinks">
      <h2>Quick Links</h2>
      <br>
      <ul>
        <a href="#history">
          <li>History</li>
        </a>
        <a href="#importance">
          <li>Importance</li>
        </a>
        <a href="#contact">
          <li>Contact</li>
        </a>
        <a href="{% url 'accounts:logout' %}">
          <li>Logout</li>
        </a>
        <a href="{% url 'accounts:register' %}">
          <li>Register</li>
        </a>
      </ul>
    </div>
    <div class="footer-section flinks">
      <h2>Connect</h2>
      <br>
      <ul>
        <a href="#">
          <li>Facebook</li>
        </a>
        <a href="#">
          <li>Instagram</li>
        </a>
        <a href="#">
          <li>Github</li>
        </a>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; LearnSans
  </div>
</div>
<script src="{% static 'js/home.js'%}" type="text/javascript"></script>
{% endblock %}