
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
    <meta name="keywords" content="web design,affordable web design, professional web design">
    <meta name="author" content="Brad Hook">
    <title>Sanskrit Learning Site  |  Welcome</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            
            <section id="branding">
                <h1><span class="highlight">Sanskrit</span> Learning Site</h1>
            </section>
            <nav>
                <ul>
                    <li class="current"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="showcase">
         
            <h1>Learn Sanskrit And Enjoy!!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque tincidunt, pretium erat a, convallis velit. Phasellus ac velit eget eros rutrum viverra eu quis arcu.</p>
        </div>
    </section>

    <!--Button-->
    <section id="nex">
        <button class="button" onclick=""><span>Start Learning</span></button>
    </section>
    <section id="boxes">
        <div class="container">
            <div class="row boxes">
                <div class="box text-center">
                    <img src="g.jpg">
                    <h3>Learn</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque tincidunt,</p>
                </div>
                <div class="box text-center">
                    <img src="graphic.jpg">
                    <h3>Implement</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque tincidunt,</p>
                </div>
                <div class="box text-center">
                    <img src="j.png">
                    <h3>Excel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque tincidunt,</p>
                </div>
            </div>
        </div>
    </section>
    <!--progressbar-->
    <section id="percent">
        <div class="holder">
            <h1>Your Progress Report</h1>
        </div>
        
        <div class="col-md-6 skills-bar">
            <p>Reading-Skills</p>
            <div class="progress">
              <div class="progress-bar" style="width: 80%;">65%</div>
            </div>
            <p>Writing-Skills</p>
            <div class="progress">
              <div class="progress-bar" style="width: 85%;">45%</div>
            </div>
            <p>Knowledge</p>
            <div class="progress">
              <div class="progress-bar" style="width: 75%;">55%</div>
            </div>
            <p>Implementation</p>
            <div class="progress">
              <div class="progress-bar" style="width: 50%;">70%</div>
            </div>
          </div>
        </div>
    </section>

    <section id="footer">
        <div class="container text-center">
            <p>Thank You</p>
        </div>
    </section>
</body>
</html>