{% extends 'sanskrit/base.html' %} {% load static %} {% block body %}
<link rel="stylesheet" href="{% static 'css/lessons.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<section id="body">
  <div class="container">
    <div class="grid-container">
      {% for lesson in my_lessons %}

      <div class="grid-item">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="{{lesson.lesson_icon.url}}" style="min-width: 100px; min-height: 100px;" />
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <h4>Lesson :<span> {{lesson.lesson_name}}</span></h4>
              <p>
                {{lesson.lessons_description}}
              </p>
              <div id="{{lesson.lesson_name}}">
                <!-- <a href="{{lesson.lesson_name}}">Start</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
{% include 'sanskrit/navbar.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
  // Lesson lock
  var user_profile_data = JSON.parse("{{serialized_user_profiles|escapejs}}");
  var lessons_data = JSON.parse("{{serialized_lesson_list|escapejs}}");
  var first_lesson = lessons_data[0].pk;
  var q_number = 0;

  const onHover = () => {
    var card = document.getElementsByClassName("card")[q_number];
    var face1 = document.getElementsByClassName("face1")[q_number];
    var face2 = document.getElementsByClassName("face2")[q_number];
    $(card).hover(
      function () {
        $(face1).css("transform", "translateY(0)");
        $(face2).css("transform", "translateY(0)");
      },
      function () {
        $(face1).css("transform", "translateY(100px)");
        $(face2).css("transform", "translateY(-100px)");
      }
    );
  };

  // Unlock the first lesson
  document.getElementById(
    `${first_lesson}`
  ).innerHTML = `<a href=${first_lesson}>Start</a>`;
  onHover();

  // Unlock the completed lessons
  for (let i = 0; i < lessons_data.length; i++) {
    var lesson = lessons_data[i].pk;
    if (i == lessons_data.length - 1) break; //last lesson

    user_profile_data.forEach(element => {
      if (element.fields.lesson_key == lesson) {

        q_number = lessons_data[i].fields.q_number;
        var next_lesson = lessons_data[i + 1].pk;
        var str = next_lesson.split(" ").join();
        document.getElementById(
          `${next_lesson}`
        ).innerHTML = `<a href=${next_lesson.replace(/ /g, "")}>Start</a>`;
      onHover(); //hover lock

      }
    });

  }

  // Display tooltip for locked lessons
  for(let j=q_number;j< lessons_data.length; j++){
    var face1 = document.getElementsByClassName("face1")[j+1];
        $(face1).tooltip({
          animated: 'fade',
          placement: 'bottom',
          title: 'Please complete the previous lesson',          
      });
  }

  
</script>
{% endblock %}