{% extends 'sanskrit/base.html' %}
{% load static %}
{% block body %}
{% include 'sanskrit/navbar.html' %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/chartstyle.css' %}" />


<div class="profile_container">
  
  <div class="profcard">
    <h1 id="toptitle">Profile</h1>
    <div id="profile_pic">
      <img src="{{profile.profile_pic.url}}" />
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button id="upload_btn" type="submit">Upload</button>
      </form>
    </div>
    <div id="profile_name">Username : {{user.username}}</div>
    <div class="" id="name">Name : {{user.first_name}} {{user.last_name}}</div>
    <div class="" id="email_id">Email : {{user.email}}</div>
    <ul>
      <li><a href=""><i class="fab fa-twitter fa-lg"></i></a></li>
      <li><a href=""><i class="fab fa-instagram fa-lg"></i></a></li>
      <li><a href=""><i class="fab fa-github fa-lg"></i></a></li>
      <li><a href=""><i class="fab fa-facebook fa-lg"></i></a></li>
    </ul>
  </div>
  <h1 id="cmnts">Your Progress</h1>
  <hr />
  <!-- messages -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  <!-- messages -->
  <div class="" id="progess">
    <br>
    <table id="q-graph">
      <caption>Quarterly Results</caption>
      <tbody>
        <tr class="qtr" id="q1">
          <th scope="row">Sun</th>
          <td class="sent bar">
          </td>
        </tr>
        <tr class="qtr" id="q2">
          <th scope="row">Mon</th>
          <td class="sent bar">
          </td>
        </tr>
        <tr class="qtr" id="q3">
          <th scope="row">Tue</th>
          <td class="sent bar">
          </td>
        </tr>
        <tr class="qtr" id="q4">
          <th scope="row">Wed</th>
          <td class="sent bar">
          </td>
        </tr>
        <tr class="qtr" id="q5">
          <th scope="row">Thu</th>
          <td class="sent bar">
          </td>
        </tr>
        <tr class="qtr" id="q6">
          <th scope="row">Fri</th>
          <td class="sent bar">
          </td>
        </tr>
        <tr class="qtr" id="q7">
          <th scope="row">Sat</th>
          <td class="sent bar">
          </td>
        </tr>
      </tbody>
    </table>

    <div id="ticks">
      <div class="tick" style="height: 59px;">
        <p>5</p>
      </div>
      <div class="tick" style="height: 59px;">
        <p>4</p>
      </div>
      <div class="tick" style="height: 59px;">
        <p>3</p>
      </div>
      <div class="tick" style="height: 59px;">
        <p>2</p>
      </div>
      <div class="tick" style="height: 59px;">
        <p>1</p>
      </div>
    </div>
  </div>
</div>
<script src="jquery-3.4.1.min.js"></script>
<script>
  document.getElementsByTagName("label")[0].style.display = "none"
  const sun = {{ sun }}
  const mon = {{ mon }}
  const tue = {{ tue }}
  const wed = {{ wed }}
  const thu = {{ thu }}
  const fri = {{ fri }}
  const sat = {{ sat }}

  document.getElementsByClassName("sent bar")[0].style.height = "" + sun * 59 + "px"
  document.getElementsByClassName("sent bar")[1].style.height = "" + mon * 59 + "px"
  document.getElementsByClassName("sent bar")[2].style.height = "" + tue * 59 + "px"
  document.getElementsByClassName("sent bar")[3].style.height = "" + wed * 59 + "px"
  document.getElementsByClassName("sent bar")[4].style.height = "" + thu * 59 + "px"
  document.getElementsByClassName("sent bar")[5].style.height = "" + fri * 59 + "px"
  document.getElementsByClassName("sent bar")[6].style.height = "" + sat * 59 + "px"

</script>
{% endblock %}