.centerline {
  display: flex;
  justify-content: center;
  align-items: center;
}

#final_ans {
  margin-top: 60px;
  margin-bottom: 30px;
  border-bottom: 2px solid #333;
  width: 40%;
}

#ans_button button {
  display: inline-block;
  margin: 30px 30px 30px 30px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #333;
}

#ans_button button:hover{background: linear-gradient(to left, #ff416c 0%, #ff4b2b 100%)}

#ans_button button:active{
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#continue_btn{
  color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

#continue_btn:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }